<ion-header>
  <ion-toolbar style=" --background:#ff8800; --color: #000000;">
  <ion-buttons slot="start">
    <ion-menu-button auto-hide="false"></ion-menu-button>
  </ion-buttons>
  <ion-title></ion-title>
</ion-toolbar>
</ion-header>


<ion-content [fullscreen]="true" class="home-content">
  <div id="welcome-container" style="text-align: center; margin-top: 50px;">
    <img src="assets/images/logo.svg" alt="App Logo" style="width: 150px; margin-bottom: 20px;">
    <h1 style="color: #ffffff;">Software de Asistencia</h1>
    <p style="color: #ffffff; font-size: 1.2em;">
      Toma la asistencia de tu clase de manera rápida y sencilla 💋.
    </p>
    <ion-button expand="block" style="margin-top: 30px; margin-bottom: 10px; --background:#ff8800; --color: #000000;" routerLink="/login">
      Iniciar sesión
    </ion-button>
    <ion-button expand="block" style="margin-top: 5px; --background:#ff8800; --color: #000000;" routerLink="/register">
      Registrarse
    </ion-button>
    
  </div>
</ion-content>

