<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="home-content">
  <ion-header collapse="condense">
    <ion-toolbar color="primary">
      <ion-title size="large">Home</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="welcome-container" style="text-align: center; margin-top: 50px;">
    <img src="assets/logo.png" alt="App Logo" style="width: 150px; margin-bottom: 20px;">
    <h1 style="color: #ffffff;">Welcome to Our App!</h1>
    <p style="color: #ffffff; font-size: 1.2em;">
      The best place to start your journey. Explore our features and enjoy the experience.
    </p>
    <ion-button expand="block" color="warning" routerLink="/login" style="margin-top: 30px;">
      Go to Login
    </ion-button>
  </div>
</ion-content>
