<ion-header [translucent]="true">
  <ion-toolbar style=" --background:#ff8800; --color: #000000;">
    <ion-buttons slot="start">
      <ion-back-button default-href="#"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="home-content">
  <ion-header collapse="condense">
   
  </ion-header>

  <div id="welcome-container" style="text-align: center; margin-top: 50px;">
    <img src="assets/images/logo.svg" alt="App Logo" style="width: 150px; margin-bottom: 20px;">
    <h1 style="color: #ffffff;">Bienvenido  {{ nombreRecuperado }} a Nuestra app!</h1>
    <p style="color: #ffffff; font-size: 1.2em;">
      Escanea el código QR para quedar presente : .
    </p>
    <img src="assets/icon/fin.svg" alt="App Logo" style="width: 150px; margin-bottom: 20px;">
  </div>
</ion-content>