ion-title {
    text-align: center;
}
ion-card-header {
    margin: 1em;
}
ion-card-title{
    text-align: center;
}
ion-header{
    border: none;
    --background: black;
}
.toolbar-container{
    box-shadow: none;
}
.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
  }
  
  ion-card {
    width: 100%;
    max-width: 400px; /* Ajusta este valor si necesitas un tamaño diferente */
    margin: 0 20px; /* Espaciado lateral */
  }