<ion-header>
  <ion-toolbar style=" --background:#ff8800; --color: #000000;">
    <ion-buttons slot="start">
      <ion-menu-button auto-hide="false"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding" scroll-padding="false" keyboard-attach>
  <div class="login-container">
    <ion-card class="transparent-card">
      <ion-card-header>
        <ion-card-title>Iniciar Sesión</ion-card-title>
      </ion-card-header>

      <ion-card-content>
        <!-- Nombre de usuario -->
        <ion-item>
          <ion-label position="floating">Nombre de usuario</ion-label>
          <ion-input [(ngModel)]="username" name="username" required></ion-input>
        </ion-item>

        <!-- Contraseña -->
        <ion-item>
          <ion-label position="floating">Contraseña</ion-label>
          <ion-input [(ngModel)]="password" name="password" type="password" required></ion-input>
        </ion-item>

        <!-- Enlace para recuperar contraseña -->
        <a [routerLink]="['/recupera-clave']" class="forgot-password">¿Olvidaste tu contraseña?</a>

        <!-- Botón para iniciar sesión -->
        <ion-button style="margin-top: 30px; --background:#ff8800; --color: #000000;" expand="block" type="submit">
          Ingresar
        </ion-button>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
