

<ion-content class="ion-padding" scroll-padding="false" keyboard-attach>
  <div class="login-container">
    <ion-card class="transparent-card">
      <ion-card-header>
        <ion-card-title>Iniciar Sesión</ion-card-title>
      </ion-card-header>

      <ion-card-content>
        <ion-item>
          <ion-label position="floating">Correo Electrónico</ion-label>
          <ion-input type="email"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="floating">Contraseña</ion-label>
          <ion-input type="password"></ion-input>
        </ion-item>

        <ion-button style="margin-top: 30px; --background:#ff8800; --color: #000000;" routerLink="/qr" expand="block" class="ion-margin-top">
          Ingresar
        </ion-button>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
