ion-title {
    text-align: center;
}
ion-card-header {
    margin: 1em;
}
ion-card-title{
    text-align: center;
}
ion-header{
    border: none;
    --background: black;
}
.toolbar-container{
    box-shadow: none;
}
